.rectangle-copy-2-1-misconnected {
    height: 45px;
    width: 390px;
    border-radius: 5px 5px 0 0;
    background-color: #E55541;
}

.rectangle-copy-2-1-delay {
    height: 45px;
    width: 390px;
    border-radius: 5px 5px 0 0;
    background-color: #0483F8;
}

.rectangle-copy-2-2 {
    height: 45px;
    width: 390px;
    border-radius: 5px 5px 0 0;
    background-color: #696969;
}

.rectangle-copy-2 {
    height: 100px;
    width: 390px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #696969;
}

.legend {
    position: absolute;
    width: 420px;
    max-height: 50%;
    left: 2%;
    bottom: 0%;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
    overflow: auto;
    padding: 1em 0em 0em 1em;
}

.flight-num {
    height: 28px;
    width: 88px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    padding: 8px 0px 12px 16px;
}

.cabin-class {
    height: 28px;
    width: 280px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    padding: 10px 0px 12px;
    text-align: right;
    //margin-top: 10px;
    //margin-left: 100px;
}

.flight-details {
    height: 22px;
    width: 250px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    padding: 10px 0px 17px 16px;
}

.line {
    position: absolute;
    box-sizing: border-box;
    height: 24px;
    width: 2px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    margin-top: 0px;
}

.flight-delay {
    height: 22px;
    width: 120px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    letter-spacing: -0.23px;
    line-height: 22px;
    text-align: right;
    padding: 10px 1px 16px 0px;
}