.rectangle-copy-2-1-misconnected {
    height: 45px;
    width: 390px;
    border-radius: 5px 5px 0 0;
    background-color: #E55541;
}

.rectangle-copy-2-1-delay {
    height: 45px;
    width: 390px;
    border-radius: 5px 5px 0 0;
    background-color: #0483F8;
}

.rectangle-copy-2-2 {
    height: 45px;
    width: 390px;
    border-radius: 5px 5px 0 0;
    background-color: #696969;
    margin-top: 1.8%;
}

.rectangle-container {
    width: 390px;
    background-color: #000000;
    border-radius: 5px 5px 5px 5px;
}

.rectangle-copy-2 {
    height: 100px;
    width: 390px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #696969;
}

.rectangle-copy-2-last-cell {
    height: 100px;
    width: 390px;
    margin-top: 5px;
    margin-bottom: 24px;
    border-radius: 5px;
    background-color: #696969;
}

.rectangle-down-arrow {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border: 1px solid #BFBFBF;
    border-radius: 50%;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    text-align: center;
    opacity: 1px;
    transform: rotate(-90deg);
    //background-color: #2E2E2E;
    background-color: Transparent;
}

.rectangle-up-arrow {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border: 1px solid #BFBFBF;
    border-radius: 50%;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 17px;
    text-align: center;
    opacity: 1px;
    transform: rotate(90deg);
    //background-color: #2E2E2E;
    background-color: Transparent;
}

.legend {
    position: absolute;
    width: 420px;
    max-height: 86%;
    height: 50%;
    left: 2%;
    bottom: 0%;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
    padding: 1em 0em 0em 1em;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.legend::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE and Edge */

.legend {
    -ms-overflow-style: none;
}

.flight-num {
    height: 28px;
    //width: 88px;
    color: #FFFFFF;
    font-family: "Proxima Nova Bold";
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    padding: 8px 0px 12px 16px;
}

.cabin-class {
    height: 28px;
    width: 280px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1.9px;
    line-height: 25px;
    padding: 10px 0px 12px;
    text-align: right;
    //margin-top: 10px;
    //margin-left: 100px;
}

.flight-details {
    height: 22px;
    width: 250px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    padding: 10px 0px 17px 16px;
}

.line {
    position: absolute;
    box-sizing: border-box;
    height: 24px;
    width: 2px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    margin-top: 0px;
}

.flight-delay {
    height: 22px;
    width: 120px;
    color: #FFFFFF;
    font-family: "Proxima Nova";
    font-size: 18px;
    letter-spacing: -0.23px;
    line-height: 22px;
    text-align: right;
    padding: 10px 1px 16px 0px;
}

.overlay-arrow {
    position: absolute;
    margin-left: 0.5%;
    bottom: 0.5%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 2;
    cursor: pointer;
    padding: 0em 0em 0em 0em;
    overflow-y: auto;
    color: white !important;
    opacity: 0.7;
    outline-width: thin;
    margin-bottom: 14px;
}