    .navbar.navbar-light.justify-content-between.filter {
        background-color: #2E2E2E;
        color: white;
        height: 70px;
        // height: 70px;
        // box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.5);
        //border: 1px solid black;
        label {
            margin-bottom: 0em;
           margin: auto;
            align-content: center;
        }
        box-shadow: inset 0 -8px 17px -9px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 0 -8px 17px -9px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0 -8px 17px -9px rgba(0, 0, 0, 0.5);
        //inset 0 -10px 5px -8px
    }
    
    .navbar.display-button {
        background-color: #2E2E2E;
        color: white;
        //height: 70px;
        //box-shadow: 2px 2px 17px rgba(0, 0, 0, 0.5);
        //border: 1px solid black;
    }
    
    .div-switch {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        height: 47px;
        margin-top: 0;
    }
    
    .vl {
        display: inline;
        border: 1px solid #FFFFFF;
        opacity: 0.15;
        margin-top: 5px;
        margin-right: 25px;
        margin-left: 25px;
        height: 37px;
        float: left;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    .container {
        position: relative;
        top: 10%;
        text-align: center;
    }
    
    .title {
        display: block;
        margin: 0 0 20px;
        font-size: 24px;
        text-transform: uppercase;
    }
    
    // Variables
    $bg-disabled-color: rgba(255, 255, 255, 0.26);
    $bg-enabled-color: rgba(255, 255, 255, 0.26);
    $lever-disabled-color: #F1F1F1;
    $lever-enabled-color: #00DC88;
    // Switch
    .switch {
        float: left;
        display: inline-block;
        position: relative;
        // margin-top: 13px;
        margin-top: 2%;
        font-size: 18px;
        font-family: "Proxima Nova";
        line-height: 22px;
        opacity: 1;
        height: 24px;
        &__input {
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 20px;
            opacity: 0;
            z-index: 0;
        }
        // Unchecked
        &__label {
            display: block;
            padding: 0 0 0 44px;
            letter-spacing: 0.26px;
            cursor: pointer;
            height: 22px;
            color: #FFFFFF;
            font-family: "Proxima Nova Thin";
            font-size: 18px;
            font-weight: 100;
            &__text {
                opacity: 0.6;
                font-size: 18px;
            }
            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 0;
                width: 36px;
                height: 14px;
                background-color: $bg-disabled-color !important;
                opacity: 0.6;
                border-radius: 14px;
                z-index: 1;
                transition: background-color 0.28s cubic-bezier(.4, 0, .2, 1);
            }
            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 0;
                width: 20px;
                height: 20px;
                background-color: $lever-disabled-color !important;
                border-radius: 14px;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
                z-index: 2;
                transition: all 0.28s cubic-bezier(.4, 0, .2, 1);
                transition-property: left, background-color;
            }
        }
        // Checked
        &__input:checked+&__label {
            &:before {
                background-color: $bg-enabled-color !important;
                opacity: 0.6;
            }
            &:after {
                left: 16px;
                background-color: $lever-enabled-color !important;
                opacity: 0.9;
                //                box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
            }
        }
        &__input:disabled+&__label {
            &:before {
                background-color: $bg-disabled-color !important;
                opacity: 0.2;
                cursor: not-allowed;
            }
            &:after {
                //left: 16px;
                background-color: $bg-disabled-color !important;
                opacity: 0.9;
                cursor: not-allowed;
            }
        }
    }
    
    .flt-header {
        color: #b1adad;
        height: 22px;
        font-family: "Proxima Nova Thin";
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 0.01px;
        line-height: NaNpx;
    }
    
    .fltNum {
        height: 22px;
        width: 58px;
        color: #FFFFFF;
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.01px;
        line-height: 22px;
    }
    
    .rectangle {
        box-sizing: border-box;
        height: 40px;
        width: 172px;
        border: 1px solid #BFBFBF;
        border-radius: 20px;
        color: #FFFFFF;
        font-family: "Proxima Nova Semibold";
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 17px;
        text-align: center;
        opacity: 1px;
        //background-color: #2E2E2E;
        background-color: Transparent;
        margin-left: 15px;
        // margin-top: 5px;
    }