.clock-time {
    color: #FFFFFF;
    font-family: 'Sigvar-Light';
    font-size: 21px;
    margin-top: 0px;
    height: 47px;
    // width : 170px;
    margin-bottom: 16px;
    // float: right;
    margin-right: 1px;
    .notification-bell-component {
        float: left;
        display: inline-block;
        margin-right: 15px;
        margin-top: 4px;
    }
    .current-time {
        float: left;
        display: inline-block;
        font-family: "Proxima Nova";
        font-size: 30px;
        height: 37px;
        // width: 79px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 37px;
        text-align: center;
        margin-left: 22px;
        margin-top: 6px;
        margin-bottom: 28px;
    }
}

.alert-icon {
    color: #FFFFFF;
    font-family: 'Sigvar';
    text-align: right;
}

.pa-co-pax-conn-x-opt {
    height: 47px;
    // height: 42px;
    // width: 454px;  //test
    color: #FFFFFF;
    font-family: 'Sigvar-Light';
    // font-weight: lighter;
    font-size: 25px;
    letter-spacing: 0.06px;
    // line-height: 25px;
    margin-bottom: 16px;
    .sia-logo {
        // width: 99px;
        width: 119px; // test
        height: 36px;
        margin-right: 35px;
        margin-left: 20px;
        margin-bottom: 28px;
        margin-top: 2px;
        float: left;
    }
    .project-title {
        float: left;
        display: inline-block;
        font-family: 'Sigvar-Light';
        // font-weight: 1;
        height: 37px;
        font-size: 24px;
        letter-spacing: 0.01px;
        line-height: 25px;
        text-transform: none;
        margin-left: 28px;
        margin-bottom: 28px;
        margin-top: 14px;
        height: 37px;
    }
    .test-area {
        float: left;
        display: inline-block;
        font-family: 'Sigvar-Light';
        // font-weight: 1;
        height: 37px;
        font-size: 16px;
        letter-spacing: 0.01px;
        line-height: 25px;
        text-transform: none;
        margin-left: 28px;
        margin-bottom: 28px;
        margin-top: 14px;
        height: 37px;
    }
}

.line-2-copy-1 {
    display: inline-block;
    box-sizing: border-box;
    height: 37px;
    width: 1px;
    border: 1px solid #FFFFFF;
    opacity: 0.15;
    margin-top: 5px;
    float: left;
}

.icons-notification {
    height: 28px;
    width: 27px;
    transform: rotate(21deg);
}

.bell.outline.icon {
    cursor: pointer;
    color: #BFBFBF;
}

.circle.icon {
    color: red;
}

.navbar.navbar-light.justify-content-between {
    background-color: #00266B;
    color: white;
    height: 63px;
    z-index: 101;
}

.circle-icon-wrap {
    font-size: 10px;
    position: absolute;
    top: 11px;
    right: 105px;
}